a {
  font-weight: bold;
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
   color: #575555;
   font-family: Bold Italic;
   font-size: 30px;
}
body {
  margin: 0;
}
.header {
  width: 100%;
}

.header_title{
  font-family: Bold Italic;
  color: #63756B;
  font-size: 40px;
  padding-left: 20px;
  padding-top: 1%;
  flex-basis: 50%;
  margin: 0;
}


.header_menu {
  height: 130px;
  background-color: #0A2006;
  font-size: 18px;
}

.menu {
  display: flex;
  padding-left: 25%;;
  justify-content: space-around;
  flex-basis: 10px;
}

.menu li {
  padding-right: 100px;
  margin: center;
}

.link {
  color: #B8D9A7;
}

.menu li a:hover{
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
}

body {
  background-color: #8CA47D;
  width: 100%;
  z-index: 2;

}

.main {
  padding-top: 100px;
  padding-left: 20%;
  padding-right: 20%;
}

.title{
  font-size: 40px;
  font-weight: 800;
  text-align: center;
}

.text{
  margin: 0;
  margin-left: 15%;
}

.addFunction {
  padding-left: 30%;
}

.footerText {
font-size: 15px;
text-align: right;
}
